.text-stroke {
    color: white; /* Text color */
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.btn-primary {
    --bs-btn-color: #ffffff; 
    --bs-btn-bg: #2196F3;
    --bs-btn-border-color: #2196F3;
    --bs-btn-hover-color: #ffffff; /* White */
    --bs-btn-hover-bg: #0D47A1; /* Darker bluish tone */
    --bs-btn-hover-border-color: #0D47A1; /* Darker bluish tone */
    --bs-btn-focus-shadow-rgb: 33, 150, 243; /* Bluish tone */
    --bs-btn-active-color: #ffffff; /* White */
    --bs-btn-active-bg: #0D47A1; /* Darker bluish tone */
    --bs-btn-active-border-color: #0D47A1; /* Darker bluish tone */
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffffff;
    --bs-btn-disabled-bg: #2196F3;
    --bs-btn-disabled-border-color: #2196F3;
    }